body{
    background-color: rgb(182, 109, 143);
}
h1{
    text-align: right;
}

.cursiva{
    color: green;
    border: 2px;
    margin: 10px;
    
}

.title{
    color: red;
    text-align: right;
}
.texto{
    color: red;
}
.centra{
    text-align: center;
}